.site-footer {
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 6%;

  background: #ffffff;

  border-top: 1px solid #e2e8f0;

  color: #0B1F3A;

  font-size: 11px;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-links a {
  color: #0B1F3A;
  text-decoration: none;
  transition: 0.2s;
}

.footer-links a:hover {
  color: #0D9488;
}