
.footer {
  width: 100%;
  margin-top: 50px;
  background: #172033;
  color: white;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;

  padding: 40px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}

.footer-brand h2 {
  margin: 0 0 10px;
  color: #4fa89d;
}

.footer-brand p {
  margin: 0;
  color: #cbd5e1;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-links a:hover {
  color: #4fa89d;
}

.footer-bottom {
  border-top: 1px solid #334155;
  padding: 18px 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  color: #94a3b8;
  font-size: 13px;
}

@media (max-width: 700px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 25px;
  }

  .footer-links {
    flex-direction: column;
    gap: 12px;
  }
}
